.circles-container {
    display: flex;
    gap: 8px;
}

.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: darkblue;
}

.circle.empty {
    background-color: lightblue;
}

.language-container {
    display: flex;
    margin-bottom: 12px;
    width: 300px;
    gap: 16px;
    justify-content: space-between;
}

h2 {
    margin-bottom: 12px;
}

.delimiter {
    width: 45px;
    height: 3px;
    background-color: black;
    margin-bottom: 24px;
}